<script>
    function handler() {
		var ex1 = document.getElementById('Mobile');
        var ex2 = document.getElementById('Laptop');
        var ex3 = document.getElementById('TaiNghe');
        var ex4 = document.getElementById('DongHo');

		if(ex1.checked)
		{
			ex1.value= '1';
			ex1.value= '1';
			ex1.value = '1';
			ex1.value = '1';
		}
		else if(ex2.checked)
		{
			ex2.value= '2';
			ex2.value= '2';
			ex2.value = '2';
			ex2.value = '2';
		}
		else if(ex3.checked)
		{
			ex3.value= '3';
			ex3.value= '3';
			ex3.value = '3';
			ex3.value = '3';
		}
		else
		{
			ex4.value= '4';
			ex4.value= '4';
			ex4.value = '4';
			ex4.value = '4';
		}
	}
</script>



<section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" 
style="background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/B2b8RSzfgivu3v9nb/videoblocks-online-shopping-isometric-composition-animation-available-in-4k-uhd-fullhd-and-hd-3d-loopable-realistic-video-footage_h1xaoqkcg_thumbnail-full08.png');" 
data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          	<div class="col-md-9 ftco-animate pb-5 text-center">
          		<p class="breadcrumbs"><span class="mr-2"><a href="../../">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Mobile List <i class="ion-ios-arrow-forward"></i></span></p>
            	<h1 class="mb-3 bread">Điện thoại di động</h1>
          	</div>
        </div>
    </div>	 
</section>	

<div class="card shadow mb-6" >
  <div class="card-body">
	  <div class="text-right">
			<a class="btn btn-outline-success" href="./">
				<i class="fa fa-plus " aria-hidden="true" ></i>	
				Return previous page
			</a>
		</div>
    	<form method="POST">
      		<div class="form-group">
		  		<br>
        		<input type="text" class="form-control" id="txtMobileName" name="txtMobileName" placeholder="Enter mobile name"
          		autofocus>
          		<br>
          		<input type="text" class="form-control" id="txtMobilePrice" name="txtMobilePrice" placeholder="Enter price"
          		autofocus> <br>
      		</div>
      		<button type="submit" class="btn btn-outline-success">
        		<i class="fa fa-check" aria-hidden="true"></i>
        		Save
      		</button>
    	</form>
  	</div>
</div>