<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Sign Up</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="../../css/styleSignUp.css">
	</head>
	<body>
		{{#section 'css'}}
	<link rel="stylesheet"
  		href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
	{{/section}}
	{{#section 'js'}}
	<script>
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js">
	</script>
	<script>

		$('#txtDob').datetimepicker({
    format: 'd/m/Y',
    timepicker: false,
    mask: true,
  });

		function validate(){
			var username = document.getElementById('txtUserName');
			var pass = document.getElementById('txtUserPassword');
			var confirm  = document.getElementById('txtConfirm');
			var fullname = document.getElementById('txtFullName');
			var dob = document.getElementById('txtDob');
			var email = document.getElementById('txtEmail');
			if(pass.value != confirm.value)
			{
				alert('Fail to confirm password');
				return false;
			}
			if(username.value == "" || pass.value == "" || confirm.value == "" || fullname.value == ""
			|| dob.value == "" || email.value == "")
			{
				alert('Empty field');
				return false;
			}
			
			return true;
		}
	</script>
	{{/section}}
		<div class="wrapper"  style="background-image: url('https://image.freepik.com/vector-gratis/subasta-linea-isometrica_98292-2540.jpg');">
			<div class="inner">
				<div class="image-holder">
					<img src="https://image.freepik.com/vector-gratis/subasta-linea-isometrica_98292-2540.jpg" alt="">
				</div>
				<form   onsubmit="return validate();" method="POST" novalidate id="frmRegister" name="frmRegister">
					<h3>Registration Form</h3>
					
					<div class="form-wrapper">
						<input type="text" placeholder="Username" class="form-control" required autofocus
						id="txtUserName" name="USERNAME" >
						<i class="zmdi zmdi-account"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" placeholder="Password" class="form-control" required autofocus
						id="txtUserPassword" name="raw_password">
						<i class="zmdi zmdi-lock"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" placeholder="Confirm Password" class="form-control" required autofocus
						id="txtConfirm" >
						<i class="zmdi zmdi-lock"></i>
					</div>
					<div class="form-wrapper">
						<input type="text" placeholder="Full Name" class="form-control" required autofocus
						id="txtFullName" name="FULLNAME">
						<i class="zmdi zmdi-home"></i>
					</div>
					<div class="form-wrapper">
						<input type="text" class="form-control" placeholder="abc@gmail.com" required autofocus
						id="txtEmail" name="EMAIL">
						<i class="zmdi zmdi-email"></i>
					</div>
					<div class="form-wrapper">
						<input type="text" class="form-control" placeholder="01/01/1970" required autofocus
						id="txtDob" name="DOB">
						<i class=""></i>
					</div>
                        <div class="d-flex flex-row-reverse">
						<a href="/account/login">Sign In</a>
						
					   </div>
					<button><a type="submit" style="color: white">Register
					</a>
					</button>
				</form>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!--script src='https://www.google.com/recaptcha/api.js'></script-->
 
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>